n8n/content_factory_workflow.json
{
  "name": "Content Factory (Gemma4 + FastAPI)",
  "nodes": [
    {
      "parameters": {},
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8792/api/generate?sync=true",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"topic\": \"{{ $json.chatInput }}\", \"use_naver_search\": true, \"use_unsplash\": true, \"max_images\": 3}"
      },
      "id": "http-generate",
      "name": "FastAPI Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8792/api/save-data",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"topic\": \"{{ $('Chat Trigger').item.json.chatInput }}\", \"content\": \"{{ $json.commercial_path }}\", \"format\": \"html\", \"suffix\": \"n8n\"}"
      },
      "id": "http-save",
      "name": "Save Data (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 0],
      "disabled": true
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [[{ "node": "FastAPI Generate", "type": "main", "index": 0 }]]
    },
    "FastAPI Generate": {
      "main": [[{ "node": "Save Data (optional)", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "description": "login2 content_factory API 연동. Docker n8n은 host.docker.internal:8792 사용."
  }
}
